<div class="FirstView">
  <section class="container">
    <h2 class="FirstView_title">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>
<%= link_to 'アカウント詳細', user_path(current_user) %>
<%= current_user.name %> 

